cleverhans==4.0.0
keras==2.12.0
keras_nightly==3.10.0.dev2025052003
matplotlib==3.8.2
numpy==1.23.5
pandas==1.4.1
Pillow==10.1.0
tensorflow==2.12.0
tensorflow_intel==2.12.0
torch==2.8.0
torchvision==0.23.0
tqdm==4.65.1
